---
import Layout from "../layouts/Layout.astro";
import SubmitButton from "../components/SubmitButton.svelte";
import Textarea from "../components/Textarea.svelte";
---

<Layout title="Improve my English - App">
  <main class="container max-w-lg m-auto flex flex-col gap-y-4 text-center p-4">
    <header class="text-3xl font-bold">Improve my English</header>
    <Textarea client:visible />
    <SubmitButton client:visible />
  </main>
</Layout>
